.roadmap-container {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.event-text {
  margin-bottom: 0px;
}

.event {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #0A468B 0%, #C9E1F3 100%);
  border-image-slice: 1;
  margin: 0;
  padding: 25px;
  counter-increment: section;
  position: relative;
  width: 100%;
}

.sub-title-label {
  margin: 10px auto 20px auto;
}

.event:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    text-align: center;
    line-height: 1.25em;
    font-size: 1em;
}

.event:nth-child(odd) {
  border-right: 5px solid;
  border-left: 0;
  padding-left: 0;
}
.event:nth-child(odd):before {
    left: 100%; 
    margin-left: -20px;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.event:nth-child(even) {
  border-left: 5px solid;
  border-right: 0;
  padding-right: 0;
}
.event:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.event:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.event:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}